/* Space out content a bit */
body {
  padding-top: 0;
  padding-bottom: 20px;
  background: #eaedf1;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #72afd2;
}
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* -------------Customer My Style Over Write Bootstrap-----------*/
.navbar {
  background: #fff;
  padding-left: 0;
  border-radius: 0;
  margin: 0;
  padding: 30px 0
}
.navbar .navbar-brand {
  padding: 0;
  float: left;
  margin: 0;
  max-width: none
}
.navbar .container {
  position: relative
}
.navbar a {
  color: #555;
  font-size: 15px;
  font-weight: 600;
}
.navbar .nav {
  margin-left: 40px;
  margin-top: 5px;
  position: absolute;
  right: 0
}
.navbar .nav>li {
  float: left;
  list-style: none
}
.navbar .nav>li a {
  padding-top: 11px;
  padding-bottom: 11px;
  margin: 0 15px;
  display: inline-block
}
.navbar .nav>li a:hover, .navbar .nav>li a:focus{
  color: #000;
}
.navbar .nav>li.active a{
  border-bottom:2px solid #000;
}
.navbar .nav>li.sep {
  border-left: 1px solid #ddd;
  width: 1px;
  margin: 14px 20px;
  height: 16px
}
.navbar .signup .btn {
  margin-left: 30px;
  padding: 11px 22px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 2px;
  background: #0a9268;
  color: #fff;
  line-height: 1
}
.navbar .signup .btn:hover {
  background: #087a57;
  color: #fff
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
  color: #000;
  background: transparent;
}

.homepage-banner {
  background: url(../images/header-bg.jpg) 100% 65% no-repeat;
  background-size: cover;
  z-index: 1;
  opacity: .8
}


body footer {
  border: 0
}

body header {
  background: #000;
  height: 440px;
  text-align: center;
  color: #fff;
  padding: 100px 0 0;
  position: relative
}


body header h3 {
  color: #0a9268;
  margin: 0;
  padding: 20px 30px 15px;
  margin: 0;
  border-bottom: 1px solid #eee
}
body header .text {
  margin: 60px 0 0 20px
}

body header p {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 1.5em
}
body header h1 {
  font-size: 4.2rem;
  font-weight: 600;
  margin-bottom: .2em;
  margin-top: .2em
}

footer {
  padding: 50px 0;
  color: #777;
  border-top: 1px solid #ddd
}
footer a, footer span {
  color: #777;
  display: inline-block
}
footer .col-lg-10 a {
  margin: 10px 15px;
  font-size: 15px
}
footer .col-lg-10 img {
  margin-right: 25px
}
footer span {
  margin: 10px 0
}
footer .mixpanel a {
  margin: 10px 0
}


.small {
  text-align: center;
  font-size: 14px
}
.small a {
  color: #777
}
hr {
  margin: 20px 0
}
#login {
  width: 420px;
  padding: 60px 60px 40px;
  background: #fff;
  text-align: center;
  margin: 40px auto 20px;
  overflow: hidden
}
#login .errorlist {
  margin: 0;
  padding: 10px 70px;
  list-style: none;
  background: #e66f2d;
  margin: 20px -70px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 13px
}
#login img {
  opacity: .25
}
#login h1 {
  font-size: 24px;
  margin-bottom: 25px;
  color: #7c838c;
  font-weight: normal
}
#login p {
  color: #888
}
#login .btn {
  font-size: 14px
}
#login form {
  text-align: left;
  padding: 0
}
#login form button {
  float: right
}
input[type=text], input[type=password], textarea {
  border: 0;
  border: 2px solid #dddedf;
  border-radius: 2px;
  padding: .5em;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  transition: all .1s ease
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  outline: none;
  border-color: #c3c5c6
}
textarea {
  resize: none;
  resize: vertical
}


/*-------------admin header style--------------*/

.admin-header {
  position: relative;
  height: auto;
  max-height: 100px;
  z-index: 1030;
  left: 0;
  right: 0;
  top: 0px;
  padding: 0;
}
.admin-header .navbar {
  height: 50px;
  margin-bottom: 0;
  margin-left: 220px;
  padding: 0;
  background-color: #3c8dbc;

}
.admin-header .navbar .nav{
  margin: 0;
}
.admin-header .navbar .sidebar-toggle {
  float: left;
  padding: 9px 5px;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 8px;
  margin-left: 5px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.admin-header .navbar .sidebar-toggle:hover .icon-bar {
  background: #f6f6f6;
}
.admin-header .navbar .sidebar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #acd0e5;

}
.admin-header .navbar .sidebar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.admin-header .navbar .nav > li.user > a {
  font-weight: bold;
  color: #acd0e5;
  padding: 15px 15px;
  line-height: 20px;

}
.skin-blue .navbar .nav > li > a:hover,
.skin-blue .navbar .nav > li > a:active,
.skin-blue .navbar .nav > li > a:focus,
.skin-blue .navbar .nav .open > a,
.skin-blue .navbar .nav .open > a:hover,
.skin-blue .navbar .nav .open > a:focus {
  background: #307095;
  color: #f6f6f6;
}
.admin-header .navbar .nav > li.user > a > .fa,
.admin-header .navbar .nav > li.user > a > .glyphicon{
  margin-right: 5px;
}

.admin-header .logo {
  float: left;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  padding: 0 10px;
  width: 220px;
  font-family: 'Kaushan Script', cursive;
  font-weight: 500;
  height: 50px;
  display: block;
  background-color: #367fa9;
  color: #f9f9f9;
}

/*-----------------------------------------*/
/*------------------admin Left Sidebar style-----------------------*/
.skin-blue .left-side {
  background: #f4f4f4;
  -webkit-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);
}

.right-side,
.left-side {
  min-height: 100%;
  display: block;
}
/*right side - contins main content*/
.right-side {
  background-color: #f9f9f9;
  margin-left: 220px;
}
/*left side - contains sidebar*/
.left-side {
  position: absolute;
  width: 220px;
  top: 0;
}
@media screen and (min-width: 992px) {
  .left-side {
    top: 50px;
  }
  /*Right side strech mode*/
  .right-side.strech {
    margin-left: 0;
  }
  .right-side.strech > .content-header {
    margin-top: 0px;
  }
  /* Left side collapse */
  .left-side.collapse-left {
    left: -220px;
  }
}
/*Give content full width on xs screens*/
@media screen and (max-width: 992px) {
  .right-side {
    margin-left: 0;
  }
}


/*
    Component: Sidebar
--------------------------
*/
.sidebar {
  margin-bottom: 5px;
}
.sidebar .sidebar-form input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent!important;
}
.sidebar .sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .sidebar-menu > li {
  margin: 0;
  padding: 0;
}
.sidebar .sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
}
.sidebar .sidebar-menu > li > a > .fa,
.sidebar .sidebar-menu > li > a > .glyphicon,
.sidebar .sidebar-menu > li > a > .ion {
  width: 20px;
}
.sidebar .sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar .sidebar-menu .treeview-menu > li {
  margin: 0;
}
.sidebar .sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
  margin: 0px 0px;
}
.sidebar .sidebar-menu .treeview-menu > li > a > .fa,
.sidebar .sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar .sidebar-menu .treeview-menu > li > a > .ion {
  width: 20px;
}
.user-panel {
  padding: 10px;
}
.user-panel:before,
.user-panel:after {
  display: table;
  content: " ";
}
.user-panel:after {
  clear: both;
}
.user-panel > .image > img {
  width: 45px;
  height: 45px;
}
.user-panel > .info {
  font-weight: 600;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  line-height: 1;
}
.user-panel > .info > p {
  margin-bottom: 9px;
}
.user-panel > .info > a {
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
  font-size: 11px;
  font-weight: normal;
}
.user-panel > .info > a > .fa,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
  margin-right: 3px;
}



.skin-blue .logo > a {
  color: #f9f9f9;
}
.skin-blue .logo:hover {
  background: #357ca5;
}
/* Skin-blue user panel */
.skin-blue .user-panel > .image > img {
  border: 1px solid #dfdfdf;
}
.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
  color: #555555;
}
/* skin-blue sidebar */
.skin-blue .sidebar {
  border-bottom: 1px solid #fff;
}
.skin-blue .sidebar > .sidebar-menu > li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dbdbdb;
}
.skin-blue .sidebar > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #dbdbdb;
}
.skin-blue .sidebar > .sidebar-menu > li:first-of-type > a {
  border-top: 1px solid #fff;
}
.skin-blue .sidebar > .sidebar-menu > li > a {
  margin-right: 1px;
}
.skin-blue .sidebar > .sidebar-menu > li > a:hover,
.skin-blue .sidebar > .sidebar-menu > li.active > a {
  color: #222;
  background: #f9f9f9;
}
.skin-blue .sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #f9f9f9;
}
.skin-blue .left-side {
  background: #f4f4f4;
  -webkit-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);
}
.skin-blue .sidebar a {
  color: #555555;
}
.skin-blue .sidebar a:hover {
  text-decoration: none;
}
.skin-blue .treeview-menu > li > a {
  color: #777;
}
.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
  color: #111;
}
.skin-blue .sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  margin: 10px 10px;
}
.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn {
  box-shadow: none;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  height: 35px;
}
.skin-blue .sidebar-form input[type="text"] {
  color: #666;
  -webkit-border-top-left-radius: 2px !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 2px !important;
  -moz-border-radius-topleft: 2px !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 2px !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
