
<!-- header logo: style can be found in header.less -->
<nav ng-include="'views/common/adminHeader.html'" class="skin-blue"></nav>

<div class="wrapper row-offcanvas row-offcanvas-left" style="min-height: 375px;">
    <!-- Left side column. contains the logo and sidebar -->
  <nav ng-include="'views/common/adminLeftSidebar.html'" class="skin-blue"></nav>


    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <nav ng-include="'views/common/adminInnerHeader.html'"></nav>

        <!-- Main content -->
        <section class="content">

            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-12 ">
                </div>
             </div>
         </section>
        <!-- /.content -->
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->



