<form class="form-horizontal" role="form" name="signinForm">
  <div class="form-group">
    <label for="usename" class="col-sm-2 control-label" translate="username"></label>
    <div class="col-sm-3">
      <input type="test" class="form-control" id="usename" placeholder="用户名" ng-model="name" required autofocus>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label" translate="password"></label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="password" placeholder="密码" ng-model="password" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <button class="btn btn-default" type="submit"  ng-click="signin()" ng-disabled="signinForm.$invalid" translate="login"></button>
    </div>
  </div>
</form>