<div class="container">
    <a class="navbar-brand" href="/"><img src="images/logo.png" width="48" alt="Inc"></a>
    <ul class="nav navbar-nav">
        <li class="active"><a href="/features/">主页</a></li>
        <li><a href="/pricing/" >案例</a></li>
        <li><a href="/about/" >套餐</a></li>
        <li class="sep"></li>
        <li><a href="http://blog.sendtoinc.com/">关于我们</a>
        <li class="sep"></li>

        <!-- <li><a href="/admin">daemon</a></li> -->


        <li><a href="/login/">登录</a></li>
        <li class="signup"><a href="/register" class="btn signup-link">注册</a></li>


    </ul>
</div>
