<div class="container">
    <a class="navbar-brand" href="/"><img src="images/logo.png" width="48" alt="weichejian"></a>
    <ul class="nav navbar-nav">
        <li class="active"><a ui-sref='/' translate="home"></a></li>
        <li><a href="/pricing/" translate='sample'></a></li>
        <li><a href="/about/" translate='product'></a></li>
        <li class="sep"></li>
        <li><a href="http://blog.sendtoinc.com/" translate='about'></a>
        <li class="sep"></li>

        <!-- <li><a href="/admin">daemon</a></li> -->


        <li><a ui-sref='login' translate='login'></a></li>
        <li class="signup"><a href="/register" class="btn signup-link" translate='register'></a></li>


    </ul>
</div>
