
    <div class="container">
        <div class="row">
            <div class="col col-lg-10">
                <img src="images/logo.png" alt="Inc" width="42" style="opacity:0.65">
                <a href="/about/" translate='about'></a>

                <a href="mailto:daemon@weichejian.cn" translate="contact"></a>
                <div style="padding:0 20px; vertical-align:middle; display:inline-block">
                </div>
            </div>
            <div class="col col-lg-2">
                <span translate='copyright'></span>

            </div>
        </div>
    </div>

